*{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}


  

header{
background-image: url(./hobbit_bg.jpg);
padding-top: 100px;
padding-bottom: 100px;
padding-left: 100px;
}

body{

margin-left: auto;
margin-right: auto;
width: 1000px;
background-color: rgb(226, 225, 225);
}

h1{
color: aliceblue;
}

h2{
color: grey;
}

.coverh{
display: block;
margin-bottom: 1000px;
position: absolute;
margin-right: 100px;
}
.p1{
margin-left: 350px;

}
.a1{
 margin-left: 350px; 
}

.p2{
text-align: center;
margin-right: 100px
}
.h1{
text-align: center;
}
.theba{
text-align: center;
}
.imagen1{
margin-left: 305px;
}

.button1{
margin-top: 40px;
margin-left: 100px;

}